@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: auto;
}

.arr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  bottom: 5%;
  right: 5%;
  z-index: 2;
  cursor: pointer;
  font-size: 30px;
  background-color: rgba(4, 4, 4, 0.2);
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
  }
}

@media (max-width: 567px) {
  .container {
    max-width: 450px;
    width: 100%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  cursor: pointer;
  outline: 0;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.section {
  padding: 90px 0;
}

.section-title {
  max-width: 500px;
  font-size: 24px;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-style: 16px;
}

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-style: 15px;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  border: 1px solid #ffd200;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.navbar {
  padding: 8px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 10px;
}

.navbar__button {
  margin-left: 30px;
}

@media (max-width: 768px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 15px 26px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
}

.hero-text__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  color: #333333;
  margin-bottom: 70px;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 60px;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__text {
  max-width: 300px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 40px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list {
    font-size: 12px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
}

.offer {
  background: url("../img/offer/kitchen.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative;
}

.offer::before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  line-height: 35px;
  margin-bottom: 24px;
  text-align: left;
}

.offer__subtitle {
  display: block;
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__input {
  margin-bottom: 30px;
  width: 240px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-height: 70px;
}

.offer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  line-height: 1.5;
}

.offer__manager {
  width: 50%;
  margin-right: 70px;
}

.offer__callback {
  width: 50%;
}

.offer__number {
  display: block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1200px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__button {
    font-style: 13px;
  }
  .offer-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer__manager {
    width: 100%;
    padding: 10px 0;
  }
  .offer__callback {
    width: 100%;
  }
  .offer__call {
    padding: 10px 0;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #fff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offer__manager {
    width: 50%;
  }
  .offer__callback {
    width: 50%;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-height: 200px;
  background-color: #fff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") center left repeat-y;
}

.portfolio__title {
  margin: auto;
  margin-bottom: 100px;
}

.portfolio__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120px;
  margin: auto;
  margin-top: 68px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__image {
  margin: auto;
}

.price__title {
  margin: 0 auto;
  margin-bottom: 58px;
}

.price__subtitle {
  margin-bottom: 59px;
  text-align: center;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: .2s;
  transition: .2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding: 40px;
}

.card__title {
  margin-top: 0;
}

.card__image {
  position: relative;
}

.card__image:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card__image-block {
  display: block;
  margin: 0 auto;
}

.card__link {
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover::after {
  height: 12px;
}

.card__link::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: .2s;
  transition: .2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 770px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */